
#include "resource.h"
#include <windows.h>

IDI_ICON2				ICON	DISCARDABLE		"qe3.ico"

// shader resources	belong in the Reflib but must be embedded in the main .exe to load successfully
IDR_DRAWSHADER		RCDATA		"fxDraw.shader"
IDR_MESHSHADER		RCDATA		"fxMesh.shader"
IDR_PARTICLESHADER	RCDATA		"fxParticle.shader"
IDR_WATERWARP		RCDATA		"fxWaterwarp.shader"
IDR_SPRITESHADER	RCDATA		"fxSprite.shader"
IDR_SURFSHADER		RCDATA		"fxSurf.shader"
IDR_COMMON			RCDATA		"fxCommon.shader"

